.highlights {
  background: #fafafa;
  color: black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  text-align: center;
  color: #033258;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

.highlight-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  
}

.highlight-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-height: 550px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  color: black;
  text-align: left
  
}

.highlight-card__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}


.highlight-card__content {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  gap: 20px;
}

.highlight-card__title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 2.5rem);
  margin: 0;
  color: #033258;
  min-height: 2em;
  display: flex;
  align-items: center;
  line-height: 2.2vmin;
}


.highlight-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 1.2vw, 2rem);
}

.highlight-card__difficulty {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
  color: #555;
}