.highlights {
  background: transparent;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #033258;
}

.highlights-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}



