.form {
  padding: 60px 20px;
  background: #fafafa;
  color: black;
}
form {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
fieldset {
  border: none;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
