.optimal-route {
  padding: 60px 20px;
  background: #fffcf2;
  text-align: center;
}

.optimal-route__title {
  font-size: 61px;
  margin: 50px 100px 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.activity-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.activity-card {
  background: white;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.activity-card__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.activity-card__details {
  padding: 16px;
  font-size: 0.95rem;
}

.route-map {
  margin: 40px auto;
  width: 90%;
  max-width: 1000px;
}

.route-controls {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.btn-reset {
  background-color: #0566d5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 40px 40px;
}
.btn-download {
  background-color: #0566d5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 40px 40px;
}

.btn-save {
  background-color: #0566d5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 40px 40px;
}

.btn-download:hover {
  background-color: #0097a7;
}

.btn-reset:hover {
  background-color: #0097a7;
}

.btn-save:hover {
  background-color: #0097a7;
}

.saved-routes__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1006pxpx;
  list-style-type: decimal;
}

.saved-routes__activity-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.saved-routes__map-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}

.saved-routes__route-title {
  text-align: left;
}

.saved-routes__activity-list {
  padding: 0;
}

.saved-routes__card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  background: #fff;
  width: 350px;
  border-radius: 8px;
}

.saved-routes__map {
  width: 100%;
  border-radius: 8px;
}

.saved-routes__delete-btn {
  position: absolute;
  border: none;
  cursor: pointer;
  top: -3px;
  right: -3px;
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  padding: 10px;
}

.saved-routes__delete-btn__img {
  object-fit: contain;
  width: 30px;
  height: 30px;
}

.saved-routes__delete-btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
