.route-preview {
  padding: 60px 20px;
  background: transparent;
  color: o;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route-preview__title {
  text-align: center;
  color: #033258;
  font-size: clamp(3rem, 3vw, 4rem);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2% 0;
}

.route-preview__map {
  background: #ddd;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 400px;
  font-size: 1.2rem;
  max-width: 800px;
  min-width: 60vw;
}
