.route-preview {
  padding: 60px 20px;
  background: #fff;
  color: black;
}
.map-preview {
  background: #ddd;
  height: 20vw;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 400px;
  font-size: 1.2rem;
}
