.route-preview {
  padding: 60px 20px;
  background: #fff;
  color: black;
}

.route-preview__title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #033258;
  font-family: "Roboto-Bold", sans-serif;
  margin-bottom: 40px;
}

.route-preview__map {
  background: #ddd;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  line-height: 400px;
  font-size: 1.2rem;
}
