.app {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background-color: #FFFCF2;
}

.app__content {
  padding: 0 auto;
}


body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #FFFCF2;
}

h2 {
  font-size: clamp(3rem, 2.5vw, 3rem);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2% 0;
  color: #033258;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  width: 100vw;
}
