.how-it-works {
  background: transparent;
  text-align: center;
  color: #033258;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  gap: 20px 0;
}

.how-it-works h2 {
  font-size: clamp(3rem, 3vw, 4rem);
  margin: 0;
  padding: 0 0 2%;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  max-width: 360px;
  gap: 20px;
}

.step img {
  min-width: 50px;
  min-height: 50px;
  height: auto;
  width: auto;
  align-self: center;
  object-fit: contain;
}

.step h3 {
  height: 60px;
  font-size: clamp(1.8rem, 2vw, 1.5rem);
  margin: 0;
}

.step p {
  margin: 10px 0 0;
  font-size: clamp(1.3rem, 1.5vw, 1.4rem);
  font-weight: 600;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
}
