.activities {
  background: #fafafa;
  padding: 60px 20px;
  color: black;
}

.activity-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.activity-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  color: black;
  text-align: right;
}

.activity-card .activity-card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.activity-card__info {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 2rem;
  border-radius: 12px;
  color: white;
}
