.header {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #3b4d3e;
  z-index: 10;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header__logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.header__logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.header__title {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header__user-block {
  display: flex;
  margin-right: 30px;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}

.header__register-button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__register-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: white;
}

.header__login-button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__login-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: white;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .header__logo-container {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__user-block {
    flex-direction: column;
    align-items: center;
  }

  .header__register-button,
  .header__login-button {
    font-size: 16px;
  }
}
