.home {
    background: transparent;
    background: #FFFCF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0;
}

.h2 {
  font-size: clamp(3rem, 3vw, 4rem);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2% 0;
}