.testimonials {
  background: #fff;
  padding: 60px 20px;
  text-align: center;
  color: black;
}
.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonials__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #033258;
  font-family: "Roboto-Bold", sans-serif;
}

.testimonial {
  background: #f0f0f0;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
