.route-builder-wrapper {
  position: relative;
  z-index: 0;
  isolation: isolate;
  
}

.route-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -10;
  opacity: 0.8;
  pointer-events: none;
  overflow: hidden;
}

.route-builder {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
  
}

.route-builder__content {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  padding: 2vw 5vw;
  max-width: 1440px;
  gap: 20px;
}


.route-builder__title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 40px;
}

.route-builder__filter-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 1106px;
  background-color: #0077cc;
  border-radius: 8px;
  padding: 16px 24px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.route-builder__filter-menu-label {
  flex: 1 1 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.route-builder__filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.route-builder__filter-option {
  flex: 1 1 auto;
  min-width: 120px;
  max-width: 200px;
  padding: 5px 16px;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  color: #0077cc;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.2vw, 1.2rem);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.route-builder__filter-option:hover {
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(231, 231, 231);;
}

.route-builder__filter-option.selected {
  background-color: rgb(10, 139, 6);
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

.route-builder__filter-option.selected:hover {
  background-color: rgb(139, 26, 6);
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

@media (max-width: 600px) {
  .route-builder__filter-options {
    justify-content: center;
  }

  .route-builder__filter-option {
    flex: 1 1 80%;
    max-width: 90%;
    justify-content: center;
    text-align: center;
  }
}




.route-builder__difficulty-group {
  align-self: center;
  padding: 24px;
  background-color: #f2faff;
  border: 1px solid #cce4ff;
  border-radius: 12px;
  width: 100%;
  max-width: 1106px;
}

.route-builder__filter-label {
  font-size: 36px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  color: black;
}

.route-builder__difficulty-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;    
  gap: 24px;           
}






.route-builder__add-to-route-btn {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  position: absolute;
  bottom: -80px;
}

.route-builder__add-to-route-btn:hover {
  background-color: #005fa3;
}

.route-builder__selected-preview {
  background-color: #e6f2ff;
  padding: 20px;
  margin: 40px 0;
  border-radius: 12px;
  width: 100%;
  max-width: 1106px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route-builder__preview-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.route-builder__selected-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
}


.route-builder__selected-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 260px;
  aspect-ratio: 1 / 1.5;
  position: relative;
}

.route-builder__activity-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}


.route-builder__selected-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.route-builder__selected-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
  color: black;
  font-size: clamp(2rem, 1vw, 1rem);
  margin: 0;
}

.route-builder__selected-type {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, 1.5vw, 1.8rem);
  line-height: 1.2;
  margin: 0;
  color: #033258;
  padding-top: 20px;
  
}


.route-builder__selected-name {
  margin: 0;
  margin-top: -10px; /* moves it up - adjust the value as needed */
  margin-bottom: 10px; /* adds space below - adjust to match */
  padding-bottom: 10px; /* adds space below - adjust to match */
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: clamp(1.2rem, 1vw, 1rem);
}

.route-builder__selected-trail {
  margin: 0;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: clamp(1.2rem, 1vw, 1rem);
  color: #000000;
}

.route-builder__selected-info{
  margin: 0;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 1vw, 1rem);
}


.route-builder__selected-difficulty {
  margin: 0;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 1vw, 1rem);
}

.route-builder__selected-gear-needed{
  margin: 0;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 1vw, 1rem);
}

.route-builder__selected-camping{
  margin: 0;
  font-family: "Roboto-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 1vw, 1rem);
}

.route-builder__remove-card-btn {
  position: absolute;         /* <-- makes it float inside the parent */
  top: 12px;                   /* <-- distance from top */
  right: 12px;                 /* <-- distance from right */
  background: rgba(255, 255, 255);
  border: solid 1px #ccc;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.route-builder__remove-card-btn img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  margin: auto;
  transition: transform 0.3s ease;
  border-radius: 8px;
}


.route-builder__remove-card-btn:hover {
  background-color: #f0f0f0;
}

.route-builder__generate-route-btn {
  min-width: 250px;
  height: 75px;
  font-size: 24px;
  font-weight: bold;
  background-color: #0566d5;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  
}

.route-builder__generate-route-btn:hover {
  background-color: #0097a7;
}

.route-builder__generate-route-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  opacity: 0.7;
  cursor:   not-allowed;
}

