.modal {
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal__content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 550px;
    max-width: 850px;
    padding:  90px 60px;
    margin: 0 20%;
    position: relative;
}

.modal__title {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: clamp(2.5rem, 2.5vw, 3rem);
    margin-bottom: 20px;
    color: #033258;
}

.modal__close-button {
    background: none;
    cursor: pointer;
    width: 80px;
    right: 5%;
    top: 8%;
}

.modal__label {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.5vw, 1.4rem);
    margin-bottom: 10px;
    color: #033258;
    gap: 4%;
    max-width: 90%;
}


.modal__auth-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* aligns items to the left */
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap; /* optional: allows wrap on smaller screens */
}



.modal__submit-button {
    background-color: #033258;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 144px;
    margin: 0;
}

.modal__button_alternate {
    background-color: transparent;
    color: #033258;
    border: 2px solid #033258;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: fit-content;
    position: inherit;
}